CADVISOR_HOST_PORT=8080
PROMETHEUS_HOST_PORT=9090

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

NODE_CADVISOR_PORT=8080

NODE_EXPORTER_PORT=9100

SSH_USER=root

LOCAL_PROMETHEUS_PATH=./prometheus
REMOTE_PROMETHEUS_PATH=/root/prometheus

LOCAL_ALERTMANAGER_PATH=./alertmanager
REMOTE_ALERTMANAGER_PATH=/root/alertmanager

LOCAL_BLACKBOXPROBER_PATH=./blackboxprober
REMOTE_BLACKBOXPROBER_PATH=/root/blackboxprober

LOCAL_GRAFANA_PATH=./grafana/provisioning
REMOTE_GRAFANA_PATH=/root/grafana

PROJECT_NAME=backtv
MACHINE_NAME=ubuntu-s-1vcpu-1gb-fra1-02

